.chart {
  height: 150px !important;
  margin: 0 auto;
  width: 300px !important;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.playContainer {
  flex-grow: 1;
  text-align: center;
}

.stats {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.statsContainer {
  border: 1px solid #353839;
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.title {
}
