.chart {
  height: 150px !important;
  margin: 0 auto;
  width: 300px !important;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 15px 0;

  @media screen and (min-width: 768px) {
    padding: 30px 0;
  }
}

.content {
  padding: 0 20px;

  & > h1 {
    margin: 0;
  }
}

.playContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;

  & > button {
    border-radius: 30px;
    color: #353839;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 62px;
    margin: 5px 0;
    width: 235px;

    &:disabled {
      border: 2px solid #e9e9ec;
      color: #cccccc;
      cursor: default;
    }
  }
}

.solo {
  margin: 15px 0 20px;
}

.statsContainer {
  border: 1px solid #353839;
  display: none;
  padding: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

button.play {
  background-color: #6aaa64;
  border: 2px solid #228b22;
  color: #ffffff;

  &:hover {
    background-color: rgba(106, 170, 100, 0.9);
  }
}
