.grid {
  color: #353839;
  display: grid;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 3px;
  height: 300px;
  margin: 0 auto 10px;
  width: 250px;

  @media screen and (min-width: 768px) {
    grid-gap: 5px;
    height: 375px;
    margin: 0 auto 20px;
    width: 320px;
  }
}

.letter {
  align-items: center;
  border: 1px solid #cccccc;
  display: inline-flex;
  font-size: 26px;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  width: 100%;

  @media screen and (min-width: 768px) {
    grid-gap: 5px;
  }
}

.guessing {
  border: 1px solid #888888;
}
.green {
  background-color: #6aaa64;
  color: #ffffff;
}
.grey {
  background-color: #787c7e;
  color: #ffffff;
}
.yellow {
  background-color: #d2b55b;
  color: #ffffff;
}
