.buttonContainer {
  text-align: right;
}

.close {
  background: transparent;
  border: 1px solid #353839;
  border-radius: 5px;
  padding: 2px 5px 0;

  & > svg {
    fill: #353839;
    height: 20px;
    width: 20px;
  }
}

.container {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.content {
  max-width: 480px;
  background: #ffffff;
  padding: 15px 15px 50px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
