.avatar {
  border-radius: 100%;
  display: none;
  height: 30px;
  margin-right: 10px;
  width: 30px;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.buttonContainer {
  padding: 15px 0 0 15px;
  position: absolute;
}

.greeting {
  display: none;
  margin-right: 8px;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.userContainer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

button.back {
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-right: 15px;
  padding: 2px 5px 0 2px;

  & > svg {
    fill: var(--black);
    height: 20px;
    width: 20px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

button.backDesktop {
  align-items: center;
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: none;
  padding: 3px 11px 3px 3px;

  & > svg {
    fill: var(--black);
    height: 20px;
    width: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

button.stats {
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 2px 5px 0;

  & > svg {
    fill: var(--black);
    height: 20px;
    width: 20px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
