.container {
  margin: 0 auto;
  padding: 0 5px;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0 0 5px;

  @media screen and (min-width: 768px) {
    padding: 2px 0;
  }

  & > button {
    border: 1px solid #cccccc;
    color: #353839;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    margin-right: 2px;
    text-transform: capitalize;
    width: 34.5px;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      height: 46px;
      margin-right: 4px;
      width: 46px;
    }
  }

  & > button:last-child {
    margin-right: 0;
  }
}

button.backspace {
  padding-top: 8px;
  width: 42px;

  @media screen and (min-width: 768px) {
    width: 60px;
  }

  & > svg {
    height: 20px;
    width: 20px;
  }
}

button.enter {
  width: 64px;

  @media screen and (min-width: 768px) {
    width: 82px;
  }
}

button.green {
  background-color: #6aaa64;
  color: #ffffff;
}
button.grey {
  background-color: #787c7e;
  color: #ffffff;
}
button.yellow {
  background-color: #d2b55b;
  color: #ffffff;
}
