.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.page {
  flex-grow: 1;
  padding: 25px 0;
  text-align: center;

  @media screen and (min-width: 480px) {
    padding: 50px;
  }
}

.content {
  padding: 15px 0 30px;
  text-align: center;
}
