.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.auth {
  padding: 30px;
  text-align: center;

  .container {
    padding: 30px 0;
    margin-bottom: 30px;
  }
}

.title {
  margin: 0 0 20px;
}

.content {
  padding: 15px 0 30px;
  text-align: center;
}

.page {
  flex-grow: 1;
}
